{% extends "admin/change_list.html" %}
{% load static %}
<link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">

{% block sidebar %}
    <!-- Удаляем весь блок sidebar -->
{% endblock %}

{% block object-tools %}
    <!-- Удаляем все содержимое блока object-tools -->
{% endblock %}

{% block content_title %}
    <!-- Удаляем заголовок страницы -->
{% endblock %}

{% block search %}
<div id="toolbar" style="display: flex; flex-wrap: wrap; align-items: center;">
    <form id="changelist-search" method="get" style="margin-right: 8px;">
        <div style="display: flex; align-items: center;">
            <label for="searchbar" style="margin-right: 8px;">
                <img src="{% static 'admin/img/search.svg' %}" alt="Search">
            </label>
            <input type="text" size="40" name="q" value="{{ cl.query }}" id="searchbar">
            <input type="submit" value="Найти" class="default">
        </div>
    </form>

    <!-- Форма обновления прайс-листов -->
    <form method="post" action="{% url 'renew_prices' %}" id="renew-form">
        {% csrf_token %}
        <input type="submit" value="Обновить прайс-листы" id="renew-button" class="default">
    </form>

    <!-- Форма выгрузки прайс-листов -->
    <form method="post" action="{% url 'download_prices' %}" style="margin-left: 8px;">
        {% csrf_token %}
        <input type="submit" value="Скачать прайс-лист" name="download_prices" class="default">
    </form>
</div>

<script>
    document.getElementById('renew-form').onsubmit = function(e) {
        e.preventDefault();
        var button = document.getElementById('renew-button');

        // Проверка активной задачи
        var taskId = localStorage.getItem('task_id');
        if (taskId) {
            alert('Задача уже выполняется. Дождитесь завершения.');
            return;
        }

        startButtonAnimation(button);  // Запуск анимации текста кнопки
        localStorage.setItem('button_text', button.value);  // Сохранение текста кнопки

        fetch('{% url "renew_prices" %}', {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            }
        }).then(response => {
            if (!response.ok) {
                stopButtonAnimation(button);
                alert('Ошибка: задача уже выполняется.');
                throw new Error('Задача уже выполняется');
            }
            return response.json();
        }).then(data => {
            var taskId = data.task_id;
            localStorage.setItem('task_id', taskId);  // Сохранение task_id
            startTaskPolling(taskId);  // Запуск проверки
        }).catch(error => {
            console.error('Ошибка:', error);
        });
    };

    // Анимация текста кнопки
    var animationInterval;

    function startButtonAnimation(button) {
        var states = ['Обновление', 'Обновление .', 'Обновление ..', 'Обновление ...'];
        var i = 0;

        if (animationInterval) {
            clearInterval(animationInterval);
        }

        animationInterval = setInterval(function() {
            button.value = states[i % states.length];
            localStorage.setItem('button_text', button.value);
            i++;
        }, 500);
    }

    function stopButtonAnimation(button) {
        clearInterval(animationInterval);
        button.value = 'Обновить прайс-листы';
        localStorage.removeItem('button_text');
    }

    // Проверка задачи при загрузке страницы
    window.onload = function() {
        var taskId = localStorage.getItem('task_id');
        var buttonText = localStorage.getItem('button_text');
        var button = document.getElementById('renew-button');

        if (buttonText) {
            button.value = buttonText;
        }

        if (taskId) {
            startButtonAnimation(button);
            startTaskPolling(taskId);
        }
    };

    function startTaskPolling(taskId) {
        var interval = setInterval(function() {
            fetch(`/task_status/${taskId}/`)
            .then(response => {
                if (response.status === 404) {
                    localStorage.removeItem('task_id');
                    clearInterval(interval);
                    stopButtonAnimation(document.getElementById('renew-button'));
                    return;
                }
                return response.json();
            })
            .then(data => {
                var button = document.getElementById('renew-button');
                if (data && data.status === 'SUCCESS') {
                    stopButtonAnimation(button);
                    localStorage.removeItem('task_id');
                    clearInterval(interval);
                } else if (data && data.status === 'FAILURE') {
                    button.value = 'Ошибка при обновлении';
                    localStorage.removeItem('task_id');
                    clearInterval(interval);
                }
            }).catch((error) => {
                console.error('Error fetching task status:', error);
                clearInterval(interval);
                stopButtonAnimation(document.getElementById('renew-button'));
            });
        }, 3000);
    }
</script>

<style>
    #renew-button {
        min-width: 155px; /* Подстраивайтесь под максимальную длину текста */
        text-align: left;
    }
</style>
{% endblock %}
