{% extends "admin/change_list.html" %}
{% load static %}

{% block sidebar %}
    <!-- Удаляем весь блок sidebar -->
{% endblock %}

{% block object-tools %}
    <!-- Удаляем все содержимое блока object-tools -->
{% endblock %}

{% block content_title %}
    <!-- Удаляем заголовок страницы -->
{% endblock %}

{% block search %}
<div id="toolbar" style="display: flex; align-items: center;">
    <!-- Форма поиска -->
    <form id="changelist-search" method="get" style="margin-right: 8px;">
        <div style="display: flex; align-items: center;">
            <label for="searchbar" style="margin-right: 8px;">
                <img src="{% static 'admin/img/search.svg' %}" alt="Search">
            </label>
            <input type="text" size="40" name="q" value="{{ cl.query }}" id="searchbar">
            <input type="submit" value="Найти" class="default">
        </div>
    </form>

    <!-- Форма для обновления прайс-листов -->
    <form method="post" action="{% url 'renew_prices' %}">
        {% csrf_token %}
        <input type="submit" value="Обновить прайс-листы" name="renew_prices" class="default">
    </form>
    <!-- Форма для скачивания объединенного прайса только смещаем кнопку к правому краю-->
    <form method="post" action="{% url 'download_prices' %}" style="margin-left: auto;">
    {% csrf_token %}
    <input type="submit" value="Выгрузить всё в Excel" name="download_prices" class="default">
    </form>
</div>
{% endblock %}


